body {
    font-family: 'Roboto', sans-serif;
    background-color: #151b29;
    height: 100vh;
}

.selection {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
    max-width: 600px;
}

.selection1 {

    display: flex;
    flex-direction: row;

}

.selection2 {

    display: flex;
    flex-direction: row;

}

button {
    background: none;
    color: #15cfe0;
    width: 300px;
    height: 100px;
    border: 2px solid;
    padding: 1em 2em;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: blue;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #7a5cff;
    transform: translateY(-0.25em);
    cursor: pointer;
}

h1 {
    color: white;
    border-bottom: solid  2px rgb(28, 174, 194);
    transition: color 0.25s;
}

h1:hover {
    color: rgb(146, 180, 224);
    border-bottom: solid  2px rgb(28, 174, 194);
}

#missionStatement {
    font-size: 24px;
}

@media (max-width: 620px) {


    .selection1 {

        display: flex;
        flex-direction: column;
    }

    .selection2 {

        display: flex;
        flex-direction: column;
    }

    
    button {

        margin-left: 20px;
        margin-right: 20px;
    }

    
}